template(name='createItemPage')
  if customTemplate
    +createItemPageCustom
  else
    .container2
      br
      +autoForm schema=itemFormSchema id='createItemPage' type='method' meteormethod='createItem'
        fieldset
          legend New Item
          .row.firstRow
            +afQuickField name='id' type='hidden'
            +afQuickField name='parent' value=parentID defaultValue='#' type='hidden'
            .col.s12.m6.l3
              +afQuickField name='referenceID'
            .col.s12.m6.l3
              +afQuickField name='stockUnits'              
            +smlField item=txtClassificationID label='Item Classification'
            +afQuickField name='classificationID' value=itemClassID type='hidden'
            +frmBtnAdd label='Add'
            .col.s12.m6.l3
              +afQuickField name='status'
            .row
              div
                +afQuickField name='text'
              div
                +afQuickField name='description'
          +fabBackResetSubmit
      br

template(name='createItemAddItemClass')
  +treeView nodeID=classificationDetails.classificationID nodeText=classificationDetails.text
  
