template(name='viewPurchasePage')
  if customTemplate
    +viewPurchasePageCustom  
  else 
    .container2
      br
      fieldset
        legend 
          =frmTitle
        if Template.subscriptionsReady
          .row
            +smlField item=editDoc.status label='Status'
            +smlField item=editDoc.reqByFirstName label='Requested by First Name'
            +smlField item=editDoc.reqByLastName label='Requested by Last Name'
            +smlField item=editDoc.type label='Type'
            +smlField item=editDoc.refID label='Reference ID'
            +smlField item=editDoc.reqPriority label='Request Priority'
            +lgeField item=editDoc.reqDescription label='Request Description'
          .row
            .divider.teal
            .section.billing
              h6.teal-text Billing Details
              +smlField item=editDoc.billingDetails.name label='Company Name'
              +smlField item=editDoc.billingDetails.tradingName label='Trading Name'
              +smlField item=editDoc.billingDetails.companyNumber label='Company registration number'
              +smlField item=editDoc.billingDetails.taxNumber label='Tax registration number'
              +smlField item=editDoc.billingDetails.phone label='Phone'
              +lgeField item=editDoc.billingDetails.postalAddress label='Postal Address'
              +smlField item=editDoc.billingDetails.postalState label='State'
              +smlField item=editDoc.billingDetails.postalZip label='Zip Post Code'
              +smlField item=editDoc.billingDetails.postalCountry label='Country'
          .row
            .divider.teal
            .section.delivery
              h6.teal-text Delivery Details
              +smlField item=editDoc.deliveryComments label='Comments'
              +smlField item=editDoc.deliveryContact label='Contact'
              +smlField item=editDoc.deliveryName label='Name'
              +smlField item=editDoc.deliveryPhone label='Phone'
              +lgeField item=editDoc.deliveryAddress label='Address'
              +smlField item=editDoc.deliveryCity label='City'
              +smlField item=editDoc.deliveryState label='State'
              +smlField item=editDoc.deliveryZip label='Zip Post Code'
              +smlField item=editDoc.deliveryCountry label='Country'
          .row
            .divider.teal
            .section.supplier
              h6.teal-text Supplier Details
              +smlField item=editDoc.supplierDetails.name label='Company Name'
              +smlField item=editDoc.supplierDetails.tradingName label='Trading Name'
              +smlField item=editDoc.supplierDetails.companyNumber label='Company registration number'
              +smlField item=editDoc.supplierDetails.taxNumber label='Tax registration number'
              +smlField item=editDoc.supplierDetails.phone label='Phone'
              +lgeField item=editDoc.supplierDetails.postalAddress label='Postal Address'
              +smlField item=editDoc.supplierDetails.postalState label='State'
              +smlField item=editDoc.supplierDetails.postalZip label='Zip Post Code'
              +smlField item=editDoc.supplierDetails.postalCountry label='Country'
          .row
            .divider.teal
            .section.wo
              h6.teal-text Work Order
              +smlField item=editDoc.workID label='Work Order ID'
              +medField item=editDoc.workDesc label='Description'
              +smlField item=editDoc.assetID label='Asset ID'
              +medField item=editDoc.assetText label='Description'
          .row
            .divider.teal
            .section.items
              h6.teal-text Items
              +smlField item=editDoc.freight label='Freight Cost'
              +smlField item=editDoc.freightType label='Type'
              +reactiveTable collection=purchaseItems settings=settings class='table striped' 
        else
          +spinner 
        +fabBack
