template(name='viewPurchasePage')
  if customTemplate
    +viewPurchasePageCustom  
  else 
    .container2
      br
      fieldset
        legend 
          =frmTitle
        if Template.subscriptionsReady
          .row
            +smlField item=editDoc.status label='Status'
            +smlField item=editDoc.reqByFirstName label='Requested by First Name'
            +smlField item=editDoc.reqByLastName label='Requested by Last Name'
            +smlField item=editDoc.type label='Type'
            +smlField item=editDoc.refID label='Reference ID'
            +smlField item=editDoc.reqPriority label='Request Priority'
            +lgeField item=editDoc.reqDescription label='Request Description'
          .row
            .divider.teal
            .section.billing
              h6.teal-text Billing Details
              
                +frmBtnAdd label='Add Billing Details'
              .col.s12.m4.l3 
                +afQuickField name='billing_ID'
              +smlField item=billingDetails.name label='Name'
          .row
            .divider.teal
            .section.delivery
              h6.teal-text Delivery Details
              .col.s4.m3.l2
                +frmBtnDeliver label='Use Billing Street Address'
                h6.grey-text Use Billing Street Address
              .col.s4.m3.l2
                +frmBtnMail label='Use Billing Postal Address'
                h6.grey-text Use Billing Postal Address
              .row
                +afQuickField name='deliveryComments'
              .col.s12.m4.l3
                +afQuickField name='deliveryContact'
              .col.s12.m4.l3
                +afQuickField name='deliveryName' 
              .col.s12.m4.l3
                +afQuickField name='deliveryPhone' 
              .col.s12.m8.l9 
                +afQuickField name='deliveryAddress' 
              .col.s12.m4.l3
                +afQuickField name='deliveryCity' 
              .col.s12.m4.l3
                +afQuickField name='deliveryState' 
              .col.s12.m4.l3
                +afQuickField name='deliveryCountry'
              .col.s12.m4.l3
                +afQuickField name='deliveryZip' 
          .row
            .divider.teal
            .section.supplier
              h6.teal-text Supplier Details
                +frmBtnAdd label='Add Supplier Details'
              .col.s12.m4.l3 
                +afQuickField name='supplier_ID' value=supplierDetails._id
              +smlField item=supplierDetails.name label='Name'
          .row
            .divider.teal
            .section.wo
              h6.teal-text Work Order
                +frmBtnAdd label='Add Work Order Details'
              .col.s12.m4.l3 
                +afQuickField name='workID'
              .col.s12.m8.l9 
                +afQuickField name='workDesc'
              .col.s12.m4.l3 
                +afQuickField name='assetID'
              .col.s12.m4.l3 
                +afQuickField name='assetText'
          .row
            .divider.teal
            .section.items
              h6.teal-text Items
                +frmBtnAdd label='Add Item'
              .col.s12.m4.l3 
                +afQuickField name='freight'
              .col.s12.m4.l3 
                +afQuickField name='freightType'
              span(style='display: none')
                +afArrayField name='reqItems' type='hidden'
              +reactiveTable collection=purchaseItems settings=settings class='table striped' 
        else
          +spinner 
        +fabBack
