template(name='credentialsPage')
  if customTemplate
    +credentialsPageCustom  
  else 
    .flow-text.container2
      .form-group
      if Template.subscriptionsReady
        +autoForm id='editPeoplePage' collection='Meteor.users' doc=currentUser type='update'
          .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
            a.btn-floating.btn-large.purple
              i.large.mdi-navigation-menu
            ul
              li
                button.btn-floating.yellow.darken-1.tooltipped(type='button', onclick='history.back(-1)', data-position='left', data-tooltip='Go Back')
                  i.material-icons skip_previous
              li
                button.btn-floating.red.tooltipped(type='reset', data-position='left', data-tooltip='Reset Form')
                  i.fa.fa-undo
              li
                button.btn-floating.green.tooltipped.btnSubmit(type='submit', data-position='left', data-tooltip='Submit Form')
                  i.fa.fa-check      
          br        
          fieldset
            legend Edit User Credentials and Records
            .row               
              h6.teal-text Role
              .col.s12.m6.l3
                +afQuickField name='roles'         
            .row
              .divider.teal
              .section
                .row               
                  h6.teal-text Database Access
                  .col.s12.m6.l3
                    +afQuickField name='databases' class='active'                      
            .row
              .divider.teal
              .section
                .row               
                  h6.teal-text Trade Qualifications
                    button.autoform-add-item.btn-floating.waves-effect.waves-light.teal(type='button', data-autoform-field='trades', data-position='bottom', data-tooltip='Add')
                      i.fa.fa-plus        
                  +afEachArrayItem name='trades'
                    .col.s12.m6.l3
                      button.autoform-remove-item.btn-floating.waves-effect.waves-light.red(type='button', data-position='bottom', data-tooltip='Remove')
                        i.fa.fa-trash                            
                      +afQuickField name=this.name label=false 
            .row
              .divider.teal
              .section
                .row               
                  h6.teal-text Academic Qualifications
                    button.autoform-add-item.btn-floating.waves-effect.waves-light.teal(type='button', data-autoform-field='professions', data-position='bottom', data-tooltip='Add')
                      i.fa.fa-plus        
                  +afEachArrayItem name='professions'
                    .col.s12.m6.l3
                      button.autoform-remove-item.btn-floating.waves-effect.waves-light.red(type='button', data-position='bottom', data-tooltip='Remove')
                        i.fa.fa-trash                            
                      +afQuickField name=this.name label=false 
            .row
              .divider.teal
              .section
                .row               
                  h6.teal-text Certifications
                    button.autoform-add-item.btn-floating.waves-effect.waves-light.teal(type='button', data-autoform-field='certifications', data-position='bottom', data-tooltip='Add')
                      i.fa.fa-plus        
                  +afEachArrayItem name='certifications'
                    .col.s12.m6.l3
                      button.autoform-remove-item.btn-floating.waves-effect.waves-light.red(type='button', data-position='bottom', data-tooltip='Remove')
                        i.fa.fa-trash                            
                      +afQuickField name=this.name label=false                                                                                
      else
        +spinner
