template(name='duplicateLocationPage')
  if customTemplate
    +duplicateLocationPageCustom  
  else    
    .container2
      br
      fieldset     
        legend Duplicate Location  
        +autoForm schema=locationFormSchema id='duplicateLocationPage' type='method' meteormethod='createLoc'
          if Template.subscriptionsReady
            .row
              +afQuickField name='type' value=duplicateDoc.type type='hidden'
              +afQuickField name='parent' value=duplicateDoc.parent type='hidden'              
              .col.s12.m6.l3
                +afQuickField name='assetID' label='*ID'
              .col.s12.m6.l3
                +afQuickField name='criticality' value=duplicateDoc.criticality label='*Criticality'
              div
                +afQuickField name='text' value=duplicateDoc.text
              div
                +afQuickField name='description' value=duplicateDoc.description
              div
                +afQuickField name='safety' value=duplicateDoc.safety
            .row
              .divider.teal
              .section
                h6.teal-text Geolocation Information
                .col.s12.m6.l3
                  +afQuickField name='lat1' value=duplicateDoc.lat1
                .col.s12.m6.l3
                  +afQuickField name='long1' value=duplicateDoc.long1
            .row
              .divider.teal
              .section
                h6.teal-text Address Information
                div
                  +afQuickField name='address' value=duplicateDoc.address
                .col.s12.m6.l3
                  +afQuickField name='state' value=duplicateDoc.state
                .col.s12.m6.l3
                  +afQuickField name='zip' value=duplicateDoc.zip
                .col.s12.m6.l3
                  +afQuickField name='country' value=duplicateDoc.country
            .row
              .divider.teal
              .section
                h6.teal-text Additional Information
                .col.s12.m6.l3
                  +afQuickField name='urlTechData' value=duplicateDoc.urlTechData
                .col.s12.m6.l3
                  +afQuickField name='urlOpData' value=duplicateDoc.urlOpData
                .col.s12.m6.l3
                  +afQuickField name='urlPhoto' value=duplicateDoc.urlPhoto        
          else
            +spinner
          +fabBackResetSubmit       
      br
