template(name='duplicateAssetClassPage')
  if customTemplate
    +duplicateAssetClassPageCustom  
  else
    .container2
      br
      fieldset
        legend Duplicate Asset Class  
        +autoForm schema=classFormSchema id='duplicateAssetClassPage' type='method' meteormethod='createClass'
          if Template.subscriptionsReady
            .row
              +afQuickField name='type' value=duplicateDoc.type type='hidden'
              +afQuickField name='parent' value=duplicateDoc.parent type='hidden'
              .col.s12.m6.l3
                +afQuickField name='classID' label='*ID'
              div
                +afQuickField name='text' value=duplicateDoc.text
              div
                +afQuickField name='description' value=duplicateDoc.description
          else
            +spinner
          +fabBackResetSubmit
      br
