template(name='createWorkPage')
  if customTemplate
    +createWorkPageCustom  
  else 
    .container2
      br
      +autoForm schema=createWorkFormSchema id='createWorkPage' type='method' meteormethod='createWO'
        fieldset
          legend New Work Request
          .row
            +afQuickField name='type' value='workorder' type='hidden'
            +afQuickField name='reqBy_id' value=requestor.reqBy_id type='hidden'
            +afQuickField name='reqByFirstName' value=requestor.reqByFirstName type='hidden'
            +afQuickField name='reqByLastName' value=requestor.reqByLastName type='hidden'
            +afQuickField name='reqDate' value=reqDate type='hidden'
            +afQuickField name='status' value='1' type='hidden'
            +afQuickField name='asset_ID' value=assetDetails._id type='hidden'
            +afQuickField name='asset_treePath' value=assetDetails.treePath type='hidden'
            +afQuickField name='assetID' value=assetDetails.id type='hidden'
            +afQuickField name='assetText' value=assetDetails.text type='hidden'
            .col.s12.m6.l3
              +afQuickField name='refID'
            .col.s12.m6.l3
              +afQuickField name='reqPriority'
            div
              +afQuickField name='reqDescription'               
          .row
            .divider.teal
            .section
              h6.teal-text Asset           
            .col.s12.m3.l2.z-depth-1(style='text-align:right;')
              input.view_q(type='text', value='', placeholder='Search')
          .row.treeview
            .row.teal.lighten-1.white-text.z-depth-1   
              = locationID
            .tree_view.row.treeview.z-depth-1
          .form-group
            .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
              a.btn-floating.btn-large.purple
                i.large.mdi-navigation-menu
              ul
                li
                  button.btn-floating.yellow.darken-1.tooltipped(type='button', onclick='history.back(-1)', data-position='left', data-tooltip='Go Back')
                    i.material-icons skip_previous
                li
                  button.btn-floating.red.tooltipped(type='reset', data-position='left', data-tooltip='Reset Form')
                    i.fa.fa-undo
                li
                  button.btn-floating.green.tooltipped(type='submit', data-position='left', data-tooltip='Submit Form')
                    i.fa.fa-check            
