template(name='createWorkPage')
  if customTemplate
    +createWorkPageCustom  
  else 
    .container2
      br
      +autoForm schema=createWorkFormSchema id='createWorkPage' type='method' meteormethod='createWO'
        fieldset
          legend New Work Request
          .row
            +afQuickField name='type' value='workorder' type='hidden'
            +afQuickField name='reqBy_id' value=requestor.reqBy_id type='hidden'
            +afQuickField name='reqByFirstName' value=requestor.reqByFirstName type='hidden'
            +afQuickField name='reqByLastName' value=requestor.reqByLastName type='hidden'
            +afQuickField name='status' value='1' type='hidden'
            +afQuickField name='asset_ID' value=assetDetails._id type='hidden'
            +afQuickField name='asset_treePath' value=assetDetails.treePath type='hidden'
            +afQuickField name='assetID' value=assetDetails.assetID type='hidden'
            +afQuickField name='assetText' value=assetDetails.text type='hidden'
            .col.s12.m6.l3
              +afQuickField name='refID'
            .col.s12.m6.l3
              +afQuickField name='reqPriority'
            div
              +afQuickField name='reqDescription'               
          .row
            .divider.teal
            .section
              h6.teal-text Asset   
            +treeView nodeID=assetDetails.assetID nodeText=assetDetails.text
          +fabBackResetSubmit   
