template(name='editWorkorderPage')
  if customTemplate
    +viewWorkorderPageCustom  
  else  
    .flow-text.container2
      br              
      fieldset.editWorkorder
        +autoForm schema=editWorkorderSchema id='editWorkorderPage' type='method-update' meteormethod='updateWO' doc=viewDoc
          if workorder
            +editWorkorderForm
          else
            +editRequestForm
          +fabBackResetSubmit

template(name='editRequestForm') 
    legend Edit Request
    .row
      +afQuickField name='type' type='hidden'
      +afQuickField name='asset_ID' type='hidden'
      +afQuickField name='asset_treePath' type='hidden'
      +afQuickField name='reqBy_id' type='hidden'
      h6.teal-text Request Details 
      .col.s12.m6.l3
        +afQuickField name='reqByFirstName'  
      .col.s12.m6.l3
        +afQuickField name='reqByLastName'                                     
      .col.s12.m6.l3
        +afQuickField name='reqPriority'
      .col.s12.m6.l3
        +afQuickField name='assetID'
      .col.s12.m6.l3
        +afQuickField name='assetText'  
      .col.s12.m6.l3
        +afQuickField name='refID'                            
      div
        +afQuickField name='reqDescription'      
    .row
      .divider.teal
      .section
        h6.teal-text Accept, Return or Cancel?  
        div
          +afQuickField name='reqComments'                                                        
        .col.s12.m6.l3    
          +afQuickField name='status' options=requestOptions      
       
template(name='editWorkorderForm')
  .editWorkorderForm
    legend Edit Work Order 
    .row
      +afQuickField name='type' type='hidden'
      +afQuickField name='asset_ID' type='hidden'
      +afQuickField name='asset_treePath' type='hidden'
      +afQuickField name='reqBy_id' type='hidden'  
      h6.teal-text Request Details 
      .col.s12.m6.l3
        +afQuickField name='reqByFirstName'  
      .col.s12.m6.l3
        +afQuickField name='reqByLastName'                                     
      .col.s12.m6.l3
        +afQuickField name='reqPriority'
      .col.s12.m6.l3
        +afQuickField name='assetID'
      .col.s12.m6.l3
        +afQuickField name='assetText'
      .col.s12.m6.l3
        +afQuickField name='refID'                            
      div
        +afQuickField name='reqDescription'
    .row
      .divider.teal
      .section
        h6.teal-text Work Order Details                                                    
        .col.s12.m6.l3
          +afQuickField name='status' options=workOptions          
        .col.s12.m6.l3
          +afQuickField name='priority'                
        div
          +afQuickField name='text'
        div
          +afQuickField name='description'
    .row
      .divider.teal
      .section.team
        h6.teal-text Work Team   
          button.btn-floating.teal.tooltipped.btnAdd(type='button', data-position='bottom', data-tooltip='Quick Add Person')
            i.fa.fa-plus                 
        +afEachArrayItem name='workTeam'
          .col.s12.m6.l3
            button.autoform-remove-item.btn-floating.waves-effect.waves-light.red.btnDelete(type="button", data-position='bottom', data-tooltip='Remove Person')
              i.fa.fa-trash          
            +afQuickField name=this.name label=false
    .row
      .divider.teal
      .section.safety
        +afxArrayAddCreate title='Safety Method' field='safetyMethod' item='safetyMethod' tip='Add Safety Method Task' tip2='Create from Template'
    .row
      .divider.teal
      .section.work
        +afxArrayAddCreate title='Work Plan' field='workPlan' item='workPlan' tip='Add Work Task' tip2='Create from Template'                    
        
template(name='editWorkorderFormAddUser')
  +reactiveTable collection='resources-data' settings=settings class='table striped'

template(name='editWorkorderModalAddUser')
  button.btn-floating.waves-effect.waves-light.tooltipped.btnEach(type='button', data-delay='50', data-position='bottom,', data-tooltip='edit user')
    i.fa.fa-check 

template(name='editWorkorderFormSafetyTemplate')
  +reactiveTable collection=safetyplanData settings=settingsSafety class='table striped'

template(name='editWorkorderModalSafetyTemplate')
  button.btn-floating.waves-effect.waves-light.tooltipped.btnEach2(type='button', data-delay='50', data-position='bottom,', data-tooltip='edit user')
    i.fa.fa-check     

template(name='editWorkorderFormWorkTemplate')
  +reactiveTable collection=workplanData settings=settingsWork class='table striped'

template(name='editWorkorderModalWorkTemplate')
  button.btn-floating.waves-effect.waves-light.tooltipped.btnEach3(type='button', data-delay='50', data-position='bottom,', data-tooltip='edit user')
    i.fa.fa-check 
