template(name='editWorkorderPage')
  if customTemplate
    +viewWorkorderPageCustom  
  else  
    .flow-text.container2
      br              
      fieldset 
        +autoForm schema=workorderFormSchema id='editWorkorderPage' type='method-update' meteormethod='updateWO' doc=viewDoc
          if workorder
            +editWorkorderForm
          else
            +editRequestForm
          .form-group
            .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
              a.btn-floating.btn-large.purple
                i.large.mdi-navigation-menu
              ul
                li
                  button.btn-floating.yellow.darken-1.tooltipped(type='button', onclick='history.back(-1)', data-position='left', data-tooltip='Go Back')
                    i.material-icons skip_previous
                li
                  button.btn-floating.red.tooltipped(type='reset', data-position='left', data-tooltip='Reset Form')
                    i.fa.fa-undo
                li
                  button.btn-floating.green.tooltipped.btnSubmit(type='submit', data-position='left', data-tooltip='Submit Form')
                    i.fa.fa-check

template(name='editRequestForm')        
  legend Edit Request
  .row
    +afQuickField name='type' type='hidden'
    +afQuickField name='asset_ID' type='hidden'
    +afQuickField name='asset_treePath' type='hidden'
    +afQuickField name='reqBy_id' type='hidden'
    h6.teal-text Request Details 
    .col.s12.m6.l3
      +afQuickField name='reqByFirstName'  
    .col.s12.m6.l3
      +afQuickField name='reqByLastName'                                     
    .col.s12.m6.l3
      +afQuickField name='reqPriority'
    .col.s12.m6.l3
      +afQuickField name='assetID'
    .col.s12.m6.l3
      +afQuickField name='assetText'  
    .col.s12.m6.l3
      +afQuickField name='refID'                            
    div
      +afQuickField name='reqDescription'      
  .row
    .divider.teal
    .section
      h6.teal-text Accept, Return or Cancel?  
      div
        +afQuickField name='reqComments'                                                        
      .col.s12.m6.l3    
        +afQuickField name='status' options=requestOptions      
      .col.s12.m6.l3
        button.btn-floating.teal.tooltipped(type='submit', data-position='bottom', data-tooltip='Submit Form')
          i.fa.fa-save 
       
template(name='editWorkorderForm')
  legend Edit Work Order 
  .row
    +afQuickField name='type' type='hidden'
    +afQuickField name='asset_ID' type='hidden'
    +afQuickField name='asset_treePath' type='hidden'
    +afQuickField name='reqBy_id' type='hidden'  
    h6.teal-text Request Details 
    .col.s12.m6.l3
      +afQuickField name='reqByFirstName'  
    .col.s12.m6.l3
      +afQuickField name='reqByLastName'                                     
    .col.s12.m6.l3
      +afQuickField name='reqPriority'
    .col.s12.m6.l3
      +afQuickField name='assetID'
    .col.s12.m6.l3
      +afQuickField name='assetText'
    .col.s12.m6.l3
      +afQuickField name='refID'                            
    div
      +afQuickField name='reqDescription'
  .row
    .divider.teal
    .section
      h6.teal-text Work Order Details                                                    
      .col.s12.m6.l3
        +afQuickField name='status' options=workOptions          
      .col.s12.m6.l3
        +afQuickField name='priority'                
      div
        +afQuickField name='text'
      div
        +afQuickField name='description'
  .row
    .divider.teal
    .section
      h6.teal-text Work Team   
        button.btn-floating.teal.tooltipped.btnAdd(type='button', data-position='bottom', data-tooltip='Quick Add Person')
          i.fa.fa-plus                 
      +afEachArrayItem name='workTeam'
        .col.s12.m6.l3
          button.autoform-remove-item.btn-floating.waves-effect.waves-light.red.btnDelete(type="button", data-position='bottom', data-tooltip='Remove Person')
            i.fa.fa-trash          
          +afQuickField name=this.name label=false
  .row
    .divider.teal
    .section
      .row               
        h6.teal-text Safety Method 
          button.autoform-add-item.btn-floating.waves-effect.waves-light.teal.btnAdd2(type='button', data-autoform-field='safetyMethod', data-position='bottom', data-tooltip='Add')
            i.fa.fa-plus        
        +afEachArrayItem name='safetyMethod'
          .col.s12.m6.l3
            button.autoform-remove-item.btn-floating.waves-effect.waves-light.red(type='button', data-position='bottom', data-tooltip='Remove')
              i.fa.fa-trash                            
            +afQuickField name=this.name label=false
  .row
    .divider.teal
    .section                
      .row      
        h6.teal-text Work Plan
          button.autoform-add-item.btn-floating.waves-effect.waves-light.teal.btnAdd3(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Add')
            i.fa.fa-plus         
        +afEachArrayItem name='workPlan'
          .col.s12.m6.l3 
            button.autoform-remove-item.btn-floating.waves-effect.waves-light.red(type='button', data-position='bottom', data-tooltip='Remove')
              i.fa.fa-trash                             
            +afQuickField name=this.name label=false      
  .row
    .divider.teal
    .section
      h6.teal-text Fault Details 
      br                                                   
      .col.s12.m6.l3
        +afQuickField name='fault' options=faultOptions
      .col.s12.m6.l3
        +afQuickField name='cause' options=causeOptions         
      .col.s12.m6.l3
        +afQuickField name='remedy' options=remedyOptions 
        
template(name='editWorkorderFormAddUser')
  +reactiveTable collection='resources-data' settings=settings class='table striped'

template(name='editWorkorderModalAddUser')
  button.btn-floating.waves-effect.waves-light.tooltipped.btnEach(type='button', data-delay='50', data-position='bottom,', data-tooltip='edit user')
    i.fa.fa-check 
