template(name='myWorkorderPage')
  if customTemplate
    +myWorkorderPageCustom  
  else  
    .flow-text.container2.myWorkorder
      br
      fieldset
        +autoForm schema=myWorkorderSchema id='myWorkorderPage' type='method-update' meteormethod='updateWO' doc=viewDoc
          if Template.subscriptionsReady
            +myWoForm 
            +fabBackSubmit          
          
template(name='myWoForm')
  .row
    legend Start Work Order 
      button.btn-floating.waves-effect.waves-light.tooltipped.green.btnStart(type='button', data-delay='50', data-position='bottom', data-tooltip='Start Work Order')
        i.fa.fa-play-circle-o      
    div.flipClock 
    +afQuickField name='asset_ID' type='hidden'
    +afQuickField name='asset_treePath' type='hidden'
    +afQuickField name='status' value='9' type='hidden'
    h6.teal-text Work Order Details
    +smlField item=viewDoc.assetID label='Asset ID'
    +smlField item=viewDoc.assetText label='Asset Name'
    +smlField item=viewDoc.refID label='Reference ID'
    +smlField item=viewDoc.status label='WO Status'
    +smlField item=viewDoc.priority label='Priority'
    .col.s12.m6.l3
      h6.grey-text Work Team
      each item in viewDoc.workTeam
        =item.firstName
        | 
        =item.lastName
        br
  .row  
    +lgeField item=viewDoc.text label='Title'
    +lgeField item=viewDoc.description label='Description'    
  .row
    .divider.teal
    .section
      h6.teal-text Safety Method
      +reactiveTable collection=safetyDoc settings=settingsSafety class='table striped'
  .row
    .divider.teal
    .section
      h6.teal-text Work Plan
      +reactiveTable collection=workDoc settings=settingsWork class='table striped'
  .row
    .divider.teal
    .section
      h6.teal-text Feedback      
      +afQuickField name='feedback'
  .row
    .divider.teal
    .section
      h6.teal-text Fault Details 
      br                                                   
      .col.s12.m6.l3.fault
        +afQuickField id='myWorkFault' name='fault' options=faultOptions
      .col.s12.m6.l3.cause
        +afQuickField id='myWorkCause' name='cause' options=causeOptions
      .col.s12.m6.l3.remedy
        +afQuickField id='myWorkRemedy' name='remedy' options=remedyOptions
        
template(name='myWorkorderSafety')
  button.btn-floating.waves-effect.waves-light.tooltipped.btnView(type='button', data-delay='50', data-position='bottom', data-tooltip='View')
    i.fa.fa-search   
  button.btn-floating.waves-effect.waves-light.tooltipped.green.btnComplete(type='button', data-delay='50', data-position='bottom', data-tooltip='Mark Completed')
    i.fa.fa-check   
  
template(name='myWorkorderWork')
  button.btn-floating.waves-effect.waves-light.tooltipped.btnView2(type='button', data-delay='50', data-position='bottom', data-tooltip='View')
    i.fa.fa-search    
  button.btn-floating.waves-effect.waves-light.tooltipped.green.btnComplete2(type='button', data-delay='50', data-position='bottom', data-tooltip='Mark Completed')
    i.fa.fa-check  
