template(name='myWorkorderPage')
  if customTemplate
    +myWorkorderPageCustom  
  else  
    .flow-text.container2
      br
      fieldset
        +autoForm schema=workorderFormSchema id='myWorkorderPage' type='method-update' meteormethod='updateWO' doc=viewDoc
          if Template.subscriptionsReady
            +myWoForm           
          .form-group
            .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
              a.btn-floating.btn-large.purple
                i.large.mdi-navigation-menu
              ul
                li
                  button.btn-floating.yellow.darken-1.tooltipped(type='button', onclick='history.back(-1)', data-position='left', data-tooltip='Go Back')
                    i.material-icons skip_previous
                li
                  button.btn-floating.green.tooltipped.btnSubmit(type='button', data-position='left', data-tooltip='Save')
                    i.fa.fa-save      
template(name='myWoForm')
  .row
    legend Start Work Order 
      button.btn-floating.waves-effect.waves-light.tooltipped.green.btnStart(type='button', data-delay='50', data-position='bottom', data-tooltip='Start Work Order')
        i.fa.fa-play-circle-o      
    div.flipClock 
    +afQuickField name='asset_ID' type='hidden'
    +afQuickField name='asset_treePath' type='hidden'
    +afQuickField name='status' value='9' type='hidden'
    h6.teal-text Work Order Details
    .col.s12.m6.l3
      h6.grey-text Asset ID
      =viewDoc.assetID
    .col.s12.m6.l3
      h6.grey-text Asset Name
      =viewDoc.assetText
    .col.s12.m6.l3
      h6.grey-text Reference ID
      =viewDoc.refID
    .col.s12.m6.l3
      h6.grey-text WO Status
      =viewDoc.status                    
    .col.s12.m6.l3
      h6.grey-text Priority
      =viewDoc.priority
    div
      h6.grey-text Work Team
      each item in viewDoc.workTeam
        =item.firstName
        | 
        =item.lastName
        |, 
  .row                     
    div
      h6.grey-text Title
      =viewDoc.text       
    div
      h6.grey-text Description
      =viewDoc.description       
  .row
    .divider.teal
    .section
      h6.teal-text Safety Method
      +reactiveTable collection=safetyDoc settings=settingsSafety class='table striped'
  .row
    .divider.teal
    .section
      h6.teal-text Work Plan
      +reactiveTable collection=workDoc settings=settingsWork class='table striped'
  .row
    .divider.teal
    .section
      h6.teal-text Feedback      
      +afQuickField name='feedback'
  .row
    .divider.teal
    .section
      h6.teal-text Fault Details 
      br                                                   
      .col.s12.m6.l3.fault
        +afQuickField id='myWorkFault' name='fault' options=faultOptions
      .col.s12.m6.l3.cause
        +afQuickField id='myWorkCause' name='cause' options=causeOptions
      .col.s12.m6.l3.remedy
        +afQuickField id='myWorkRemedy' name='remedy' options=remedyOptions
template(name='myWorkorderSafety')
  button.btn-floating.waves-effect.waves-light.tooltipped.btnView(type='button', data-delay='50', data-position='bottom', data-tooltip='Mark Completed')
    i.fa.fa-search   
  button.btn-floating.waves-effect.waves-light.tooltipped.green.btnComplete(type='button', data-delay='50', data-position='bottom', data-tooltip='Mark Completed')
    i.fa.fa-check   
    
template(name='myWorkorderSafetyCompleted')
  if completed
    i.fa.fa-check
  
template(name='myWorkorderWork')
  button.btn-floating.waves-effect.waves-light.tooltipped.btnView2(type='button', data-delay='50', data-position='bottom', data-tooltip='Mark Completed')
    i.fa.fa-search    
  button.btn-floating.waves-effect.waves-light.tooltipped.green.btnComplete2(type='button', data-delay='50', data-position='bottom', data-tooltip='Mark Completed')
    i.fa.fa-check  

template(name='myWorkorderWorkCompleted')
  if completed
    i.fa.fa-check
