template(name='viewWorkorderPage')
  if customTemplate
    +viewWorkorderPageCustom  
  else  
    .flow-text.container2
      br
      .form-group
        .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
          a.btn-floating.btn-large.purple
            i.large.mdi-navigation-menu
          ul
            li
              button.btn-floating.yellow.darken-1.tooltipped(type='button', onclick='history.back(-1)', data-position='left', data-tooltip='Go Back')
                i.material-icons skip_previous
            li
              a.btnCopy.btn-floating.green.tooltipped(href='{{pathFor "copy-workorder"}}' data-position='left', data-tooltip='Copy')
                i.fa.fa-copy
            li
              a.btnEdit.btn-floating.blue.tooltipped(href='{{pathFor "edit-workorder"}}' data-position='left', data-tooltip='Edit')
                i.fa.fa-edit
      fieldset        
        if workorder
          +viewWoForm  
        else 
          +viewRequestForm                        

template(name='viewRequestForm')
  .row
    legend View Work Request 
    h6.teal-text Request Details 
    +smlField item=viewDoc.reqByFirstName label='Req by first name'
    +smlField item=viewDoc.reqByLastName label='Req by last name' 
    +smlField item=viewDoc.reqPriority label='Requested Priority'
    +smlField item=viewDoc.assetID label='Asset ID'
    +smlField item=viewDoc.assetText label='Asset'
    +smlField item=viewDoc.refID label='Reference ID'
    +lgeField item=viewDoc.reqDescription label='Request Description'  
       
template(name='viewWoForm')
  .row
    legend View Work Order 
    h6.teal-text Request Details 
    +smlField item=viewDoc.reqByFirstName label='Req by first name'
    +smlField item=viewDoc.reqByLastName label='Req by last name' 
    +smlField item=viewDoc.reqPriority label='Requested Priority'
    +smlField item=viewDoc.assetID label='Asset ID'
    +smlField item=viewDoc.assetText label='Asset'
    +smlField item=viewDoc.refID label='Reference ID'
    +lgeField item=viewDoc.reqDescription label='Request Description'
    +frmSection label='Work Order Details'
    +smlField item=viewDoc.status label='Status'
    +smlField item=viewDoc.priority label='Priority'
    +lgeField item=viewDoc.text label='Title'
    +lgeField item=viewDoc.description label='Description'
    +frmSection label='Safety Method'  
    +reactiveTable collection=safetyDoc settings=settingsSafety class='table striped'
    +frmSection label='Work Plan'     
    +reactiveTable collection=workDoc settings=settingsWork class='table striped'
    +frmSection label='Fault Reporting'  
    +smlField item=viewDoc.fault label='Fault Code'
    +smlField item=viewDoc.cause label='Cause Code'    
    +smlField item=viewDoc.remedy label='Remedy Code'                                                         
