template(name='editAssetPage')
  if customTemplate
    +editAssetPageCustom  
  else
    .container2 
      br
      fieldset.active
        legend Edit Asset 
        +autoForm schema=locationFormSchema id="editAssetPage" type="update" collection="Locations" doc=currentDoc
          if Template.subscriptionsReady
            .row.firstRow
              +afQuickField name="parent" type="hidden"
              +afQuickField name="treePath" type="hidden"               
              .col.s12.m6.l3
                +afQuickField name="assetID"              
              .col.s12.m6.l3
                +afQuickField name="type"               
              .col.s12.m6.l3
                +afQuickField name="criticality"
              +smlField item=txtClassificationID label='Asset Classification'
              +afQuickField name='assetClassificationID' value=assetClassID type='hidden'
              +frmBtnAdd label='Add'                
              div
                +afQuickField name="text"
              div
                +afQuickField name="description"
              div
                +afQuickField name="safety"
              .col.s12.m6.l3
                +afQuickField name="classification"
              .col.s12.m6.l3
                +afQuickField name="status"
              .col.s12.m6.l3
                +afQuickField name="rotable"
            .row
              .divider.teal
              .section
                h6.teal-text Geolocation Information
                .col.s12.m6.l3
                  +afQuickField name="linear"
                .col.s12.m6.l3
                  +afQuickField name="lat1"
                .col.s12.m6.l3
                  +afQuickField name="long1"
                .col.s12.m6.l3
                  +afQuickField name="lat2"
                .col.s12.m6.l3
                  +afQuickField name="long2"
            .row
              .divider.teal
              .section
                h6.teal-text Manufacture Information
                .col.s12.m6.l3
                  +afQuickField name="serialNumber"
                .col.s12.m6.l3
                  +afQuickField name="modelNumber"
                .col.s12.m6.l3
                  +afQuickField name="manufacturer"
                .col.s12.m6.l3
                  +afQuickField name="manufPhone"
                div
                  +afQuickField name="manufAddress"
                .col.s12.m6.l3
                  +afQuickField name="manufState"
                .col.s12.m6.l3
                  +afQuickField name="manufZip"
            .row
              .divider.teal
              .section
                h6.teal-text Additional Information
                .col.s12.m6.l3
                  +afQuickField name="urlTechData"
                .col.s12.m6.l3
                  +afQuickField name="urlOpData"
                .col.s12.m6.l3
                  +afQuickField name="urlPhoto"
                .col.s12.m6.l3
                  +afQuickField name="referenceID"
                .col.s12.m6.l3
                  h6.grey-text.text-lighten-1 Manufacture Date
                  +afQuickField name="manufDate"
                .col.s12.m6.l3
                  h6.grey-text.text-lighten-1 Install Date
                  +afQuickField name="installDate"
          else
            +spinner
          +fabBackResetSubmit 

template(name='modalEditAssetPage')
  +treeView nodeID=classificationDetails.classificationID nodeText=classificationDetails.text
