template(name='activatePMPage')
  if customTemplate
    +activatePMPageCustom  
  else  
    .flow-text.container2
      br              
      fieldset.activatePM 
        form
          legend Activate PM Plan
          if Template.subscriptionsReady
            .row
              .section
                h6.teal-text Activate PM 
                +lgeField item=viewDoc.pmDescription label='PM Description'
                if timeBasedPM
                  .switch
                    label
                      | Activate All Assets
                      input#swtActivatePM(type='checkbox')
                      span.lever
                      | Activate Individual Assets
            .row
            .divider.teal
            .section
              if activateAll
                h6.teal-text Activate All Assets
                .row
                  +smlCheckField item=setPM.active label='Activate'
                  +smlField item=setPM.pmExpression label='Cron Expression'
                  .col.s6.m4.l3
                    +frmBtnEdit
                  .col.s6.m4.l3.btnCheck
                    a.waves-effect.waves-light.btn
                      i.material-icons.left playlist_add
                      | Check Schedule
              else
                h6.teal-text Activate PM Assets
                +lgeField item=viewDoc.assetGroupDetails.groupText label='Asset Group'
                +reactiveTable collection=workorderPMList settings=settings class='table striped' 
          else
            +spinner
          +fabBackSubmit

template(name='activatePMForm')
  .row
    .input-field.col.s6.m4.l3
      input#chkActivatePM.validate(placeholder='Activate', type='checkbox', name='activate-pm')
      label(for='chkActivatePM') Activate
    if meterBasedPM
      .input-field.col.s6.m4.l3
          input#intActivatePM.validate(placeholder='Meter Interval', type='text', name='meter-interval', min='1')
          label(for='intActivatePM') Meter Interval
      .input-field.col.s12.m9.l6
        select(name='meter-id')
          each item in meterList
            option(value=item.id)
              =item.id
              | -
              =item.text
  if timeBasedPM
    .row.timeBased
      .input-field.col.s6.m4.l3
        select(name='cron-expression')
          each item in cronList
            option(value=item.id)
              =item.text
        label Expression type
      .input-field.col.s6.m4.l3.cronGUI
        select(name='gui-type')
          each item in guiList
            option(value=item.id)
              =item.text
        label Schedule Type 
    .row.cronGUI
      .input-field.col.s6.m4.l3.gui-start-time
        select(name='gui-start-time')
          each item in guiStartTime
            option(value=item.id)
              =item.text
        label Start Time
      .input-field.col.s6.m4.l3.gui-start-day
        select(name='gui-start-day')
          each item in guiStartDay
            option(value=item)
              =item
        label Start Day of Month
      .input-field.col.s6.m4.l3.gui-num-days
        select(name='gui-num-days')
          each item in guiNumDays
            option(value=item)
              =item
        label Period in Days
      .input-field.col.s6.m4.l3.gui-start-month
        select(name='gui-start-month')
          each item in guiStartMonth
            option(value=item)
              =item
        label Start Month of Year
      .input-field.col.s6.m4.l3.gui-num-months
        select(name='gui-num-months')
          each item in guiNumMonths
            option(value=item)
              =item
        label Period in Months 
      .input-field.col.s6.m4.l3.gui-weekdays
        select(name='gui-weekdays')
          each item in guiWeekdays
            option(value=item.id)
              =item.text
        label Weekdays 
      .input-field.col.s6.m4.l3.gui-start-year
          input#txtStartYearPM.validate(placeholder='Start Year', type='number', name='gui-start-year' min='1')
          label.active(for='txtStartYearPM') Start Year number
      .input-field.col.s6.m4.l3.gui-num-years
          input#txtnumYearsPM.validate(placeholder='Years', type='number', name='gui-num-years' min='1')
          label.active(for='txtnumYearsPM') Period in Years
    .row.cronExpression
      .divider.teal
      .section.pmExpression
        h5 Enter Cron Expression
        .input-field.col.s6
          input#expActivatePM.validate(placeholder='Expression', type='text', name='pm-expression')
          label.active(for='expActivatePM') Expression
        .input-field.col.s6        
          a.waves-effect.waves-light.btn
            i.material-icons.left playlist_add
            | Check Schedule
          
