template(name='activatePMPage')
  if customTemplate
    +activatePMPageCustom  
  else  
    .flow-text.container2
      br              
      fieldset.activatePM 
        form
          legend Activate PM Plan
          if Template.subscriptionsReady
            .row
              .section
                h6.teal-text Activate PM 
                +lgeField item=viewDoc.pmDescription label='PM Description'
                if timeBasedPM                
                  .switch
                    label
                      | Activate All Assets
                      input#swtActivatePM(type='checkbox')
                      span.lever
                      | Activate Individual Assets
            .row
            .divider.teal
            .section
              if activateAll
                h6.teal-text Activate All Assets
                .row
                  +smlCheckField item=setPM.active label='Activate'
                  +medField item=setPM.pmExpression label='Text/Cron Expression'
                  .col.s6.m4.l3
                    +frmEdit
              else
                h6.teal-text Activate PM Assets   
                +lgeField item=viewDoc.assetGroupDetails.groupText label='Asset Group'
                +reactiveTable collection=workorderPMList settings=settings class='table striped' 
          else
            +spinner
          +fabBackSubmit

template(name='activatePMForm')
  .row
    .input-field.col.s6.m4.l3
      input#chkActivatePM.validate(placeholder='Activate', type='checkbox', name='activate-pm')
      label(for='chkActivatePM') Activate
    if meterBasedPM
      .input-field.col.s6.m4.l3
          input#intActivatePM.validate(placeholder='Meter Interval', type='text', name='meter-interval', min='1')
          label(for='intActivatePM') Meter Interval
      +medField item=rtMeterID label='Meter ID'
  if meterBasedPM           
    .row
      .input-field.meterList
        +reactiveTable collection=meterList settings=aSettings class='table striped'
  if timeBasedPM
    .row
      .input-field.col.s6
        .switch
          label
            | Text Expression
            input#swtActivatePM(type='checkbox', name='cron-expression')
            span.lever
            | Cron Expression
      .input-field.col.s6
        input#expActivatePM.validate(placeholder='Expression', type='text', name='pm-expression')
        label(for='expActivatePM') Expression
