template(name='createAssetGroupPage')
  if customTemplate
    +createAssetGroupPageCustom  
  else 
    .container2
      br
      +autoForm schema=assetGroupSchema id='createAssetGroupPage' type='method' meteormethod='createAssetGroup'
        fieldset.createAssetGroup
          legend New Asset Group
          .row
            +afQuickField name='groupText'           
          .row
            .divider.teal
            .section
              h6.teal-text Asset      
              .row
                +afQuickField name='asset_IDs' value=assetArray type='hidden'
                +afQuickField name='groupCreatedBy' value=assetGroupCreatedBy type='hidden'
                +reactiveTable collection=assetArrayDetails settings=settings class='table striped'
          +treeAssetsAdd assets=assetDetails
          +fabBackResetSubmit         
