template(name='createPMPage')
  if customTemplate
    +createPMPageCustom  
  else  
    .flow-text.container2
      br              
      fieldset.createPM 
        +autoForm schema=pmSchema id='createPMPage' type='method' meteormethod='createPM'
          legend Create PM
          if Template.subscriptionsReady
            .row
              +afQuickField name='createdBy_id' value=createdID type='hidden'
              .col.s12.m6.l3
                +afQuickField name='refID'
              .col.s12.m6.l3
                +afQuickField name='pmPriority'
            .row
              +afQuickField name='pmDescription'
            .row
              .col.s12.m6.l3
                h6 Interval Type
                +afFieldInput name='pmIntervalType' id='afIntervalType' type='select-radio-inline'
            br  
            .row
              .divider.teal
              .section
                span.asset
                  +afxSmlQuickFieldAdd title='Asset Group' field='workPlan' item='assetGroup_ID' tip='Add Asset Group'
                span.safety
                  +afxSmlQuickFieldAdd title='Safety Method' field='workPlan2' item='safetyPlan_ID' tip='Add Safety Method'
                span.work
                  +afxSmlQuickFieldAdd title='Work Plan' field='workPlan3' item='workPlan_ID' tip='Add Work Plan'
          else
            +spinner 
          +fabBackResetSubmit                                                   

template(name='createPMPageAddAssetGroup')
  if Template.subscriptionsReady
    .rtable
      +reactiveTable collection=assetGrpCollection settings=agSettings class='table striped'
  else
    +spinner
    
template(name='selectAssetGroupCreatePM')
  button.autoform-add-item.btn-floating.waves-effect.waves-light.tooltipped.btnAdd(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Select Asset Group')
    i.fa.fa-plus  
  
template(name='createPMPageAddSafetyMethod')
  if Template.subscriptionsReady
    .rtable
      +reactiveTable collection=safetyMthdCollection settings=smSettings class='table striped'
  else
    +spinner  
    
template(name='selectSafetyMethodCreatePM')
  button.autoform-add-item.btn-floating.waves-effect.waves-light.tooltipped.btnAdd1(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Select Safety Method')
    i.fa.fa-plus    
  
template(name='createPMPageAddWorkPlan') 
  if Template.subscriptionsReady 
    .rtable
      +reactiveTable collection=workPlCollection settings=wpSettings class='table striped'
  else
    +spinner    
  
template(name='selectWorkPlanCreatePM')
  button.autoform-add-item.btn-floating.waves-effect.waves-light.tooltipped.btnAdd2(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Select Work Plan')
    i.fa.fa-plus 
