template(name='createPMPage')
  if customTemplate
    +createPMPageCustom  
  else  
    .flow-text.container2
      br              
      fieldset 
        +autoForm schema=pmSchema id='createPMPage' type='method' meteormethod='createPM'
          legend Create PM
          if Template.subscriptionsReady
            .row
              +afQuickField name='createdBy_id' type='hidden'
              +afQuickField name='createdByFirstName' type='hidden'
              +afQuickField name='createdByLastName' type='hidden'
              +afQuickField name='createdDate' type='hidden'
              .col.s12.m6.l3
                +afQuickField name='refID'
              .col.s12.m6.l3
                +afQuickField name='pmPriority'
            .row
              +afQuickField name='pmDescription'
            .row
              .col.s12.m6.l3
                +afQuickField name='pmInterval'  
              .col.s12.m6.l3
                +afQuickField name='pmIntervalUnits'                                     
              .col.s12.m6.l3
                +afQuickField name='pmIntervalType'
              .col.s12.m6.l3
                +afQuickField name='active'              
            .row
              .divider.teal
              .section
                .col.s12.m6.l3
                  h6 Asset Group
                    button.autoform-add-item.btn-floating.waves-effect.waves-light.tooltipped.btnAdd(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Add Asset Group')
                      i.fa.fa-plus
                  +afQuickField name='assetGroup_ID'
                .col.s12.m6.l3
                  h6 Safety Method
                    button.autoform-add-item.btn-floating.waves-effect.waves-light.tooltipped.btnAdd2(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Add Safety Method')
                      i.fa.fa-plus                
                  +afQuickField name='safetyPlan_ID'
                .col.s12.m6.l3
                  h6 Work Plan
                    button.autoform-add-item.btn-floating.waves-effect.waves-light.tooltipped.btnAdd3(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Add Work Plan')
                      i.fa.fa-plus                
                  +afQuickField name='workPlan_ID'   
          else
            +spinner                                                    
          .form-group
            .fixed-action-btn.click-to-toggle(style='bottom: 45px; right: 24px;')
              a.btn-floating.btn-large.purple
                i.large.mdi-navigation-menu
              ul
                li
                  button.btn-floating.yellow.darken-1.tooltipped(type='button', onclick='history.back(-1)', data-position='left', data-tooltip='Go Back')
                    i.material-icons skip_previous
                li
                  button.btn-floating.red.tooltipped(type='reset', data-position='left', data-tooltip='Reset Form')
                    i.fa.fa-undo
                li
                  button.btn-floating.green.tooltipped.btnSubmit(type='submit', data-position='left', data-tooltip='Submit Form')
                    i.fa.fa-check

template(name='createPMPageAddAssetGroup')
  if Template.subscriptionsReady
    +reactiveTable collection=assetGrpCollection settings=agSettings class='table striped'
  else
    +spinner
    
template(name='selectAssetGroupCreatePM')
  button.autoform-add-item.btn-floating.waves-effect.waves-light.tooltipped.btnAdd(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Select Asset Group')
    i.fa.fa-plus  
  
template(name='createPMPageAddSafetyMethod')
  if Template.subscriptionsReady
    +reactiveTable collection=safetyMthdCollection settings=smSettings class='table striped'
  else
    +spinner  
    
template(name='selectSafetyMethodCreatePM')
  button.autoform-add-item.btn-floating.waves-effect.waves-light.tooltipped.btnAdd(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Select Safety Method')
    i.fa.fa-plus    
  
template(name='createPMPageAddWorkPlan') 
  if Template.subscriptionsReady 
    +reactiveTable collection=workPlCollection settings=wpSettings class='table striped'
  else
    +spinner    
  
template(name='selectWorkPlanCreatePM')
  button.autoform-add-item.btn-floating.waves-effect.waves-light.tooltipped.btnAdd(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Select Work Plan')
    i.fa.fa-plus 
