template(name='editAssetGroupPage')
  if customTemplate
    +editAssetGroupPageCustom  
  else 
    .container2
      br
      +autoForm schema=assetGroupSchema collection='Assetgroups' id='editAssetGroupPage' type='update' doc=viewDoc
        fieldset.editAssetGroup
          legend Edit Asset Group  
          if Template.subscriptionsReady 
            .row.active
              +afQuickField name='groupText'           
            .row
              .divider.teal
              .section
                h6.teal-text Asset      
                .row
                  +afQuickField name='asset_IDs' value=assetArray type='hidden'
                  +afQuickField name='groupCreatedBy' value=assetGroupCreatedBy type='hidden'
                  +reactiveTable collection=assetArrayDetails settings=settings class='table striped'
          else
            +spinner
          +treeAssetsAdd assets=assetDetails
          +fabBackResetSubmit
