template(name='editPMPage')
  if customTemplate
    +editPMPageCustom  
  else  
    .flow-text.container2
      br              
      fieldset.editPM.active
        +autoForm schema=pmSchema id='editPMPage' type='method-update' meteormethod='updatePM' doc=viewDoc
          legend Edit PM
          if Template.subscriptionsReady
            .row
              +afQuickField name='createdBy_id' value=createdID type='hidden'
              .col.s12.m6.l3
                +afQuickField name='refID'
              .col.s12.m6.l3
                +afQuickField name='pmPriority'
            .row
              +afQuickField name='pmDescription'
            .row
              .col.s12.m6.l3
                h6 Interval Type
                +afFieldInput name='pmIntervalType' id='afIntervalType' type='select-radio-inline'                             
            br                        
            .row
              .divider.teal
              .section
                +afxSmlQuickFieldAdd title='Asset Group' field='workPlan' item='assetGroup_ID' tip='Add Asset Group'
                +afxSmlQuickFieldAdd title='Safety Method' field='workPlan' item='safetyPlan_ID' tip='Add Safety Method'
                +afxSmlQuickFieldAdd title='Work Plan' field='workPlan' item='workPlan_ID' tip='Add Work Plan'
          else
            +spinner                                                    
          +fabBackResetSubmit   

template(name='editPMPageAddAssetGroup')
  if Template.subscriptionsReady
    .rtable    
      +reactiveTable collection=assetGrpCollection settings=agSettings class='table striped'
  else
    +spinner
    
template(name='selectAssetGroupEditPM')
  button.autoform-add-item.btn-floating.waves-effect.waves-light.tooltipped.btnAdd(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Select Asset Group')
    i.fa.fa-plus 
  
template(name='editPMPageAddSafetyMethod')
  if Template.subscriptionsReady
    .rtable  
      +reactiveTable collection=safetyMthdCollection settings=smSettings class='table striped'
  else
    +spinner  
    
template(name='selectSafetyMethodEditPM')
  button.autoform-add-item.btn-floating.waves-effect.waves-light.tooltipped.btnAdd1(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Select Safety Method')
    i.fa.fa-plus    
  
template(name='editPMPageAddWorkPlan') 
  if Template.subscriptionsReady 
    .rtable  
      +reactiveTable collection=workPlCollection settings=wpSettings class='table striped'
  else
    +spinner    
  
template(name='selectWorkPlanEditPM')
  button.autoform-add-item.btn-floating.waves-effect.waves-light.tooltipped.btnAdd2(type='button', data-autoform-field='workPlan', data-position='bottom', data-tooltip='Select Work Plan')
    i.fa.fa-plus 
