template(name='viewPMPage')
  if customTemplate
    +viewPMPageCustom  
  else  
    .flow-text.container2
      br              
      fieldset.viewPM 
          legend View PM Plan
          if Template.subscriptionsReady
            .row
              .section
                h6.teal-text PM Details 
                =viewDoc.pmDescription
            .row
              .divider.teal
              .section
                h6.teal-text Asset Group
                =assetGrpDetails.groupText
                +reactiveTable collection=assetGrpList settings=agSettings class='table striped'                                                 
            .row
              .divider.teal
              .section                  
                h6.teal-text Safety Method
                =safetyMthdDetails.text
                +reactiveTable collection=safetyMthdList settings=smSettings class='table striped'
            .row
              .divider.teal
              .section                  
                h6.teal-text Work Plan
                =workPlanDetails.text
                +reactiveTable collection=workPlanList settings=wpSettings class='table striped'  
          else
            +spinner  
          +fabBack                                                                      
