template(name='editEquipmentPage')
  if customTemplate
    +editEquipmentPageCustom  
  else
    .container2 
      br
      fieldset
        legend Edit Equipment 
        +autoForm schema=equipmentFormSchema id="editEquipmentPage" type="update" collection="Equipment" doc=currentDoc
          if Template.subscriptionsReady
            .row.firstRow
              .col.s12.m6.l3
                +afQuickField name='referenceID'
              .col.s12.m6.l3
                +afQuickField name='stockUnits'              
              +smlField item=txtClassificationID label='Equipment Classification'
              +afQuickField name='classificationID' value=equipmentClassID type='hidden'
              +frmBtnAdd label='Add'
              .col.s12.m6.l3
                +afQuickField name='status'
              .row
                div
                  +afQuickField name='text'
                div
                  +afQuickField name='description'
          else
            +spinner
          +fabBackResetSubmit 

template(name='modaleditEquipmentPage')
  +treeView nodeID=classificationDetails.classificationID nodeText=classificationDetails.text
