template(name='viewInvLocPage')
  if customTemplate
    +viewInvLocPageCustom  
  else  
    .flow-text.container2.viewInvLoc
      +fabBackCopyEdit
      br
      fieldset
        legend View Inventory Location 
        if Template.subscriptionsReady
          .row
            +smlField item=currentDoc._id label='System ID'
            +smlField item=currentDoc.referenceID label='Reference ID'
            +smlField item=currentDoc.status label='Status'
            +smlField item=txtClassificationID label='Inventory Location Classification'
            +lgeField item=currentDoc.text label='Title'
            +lgeField item=currentDoc.description label='Description'            
        else
          +spinner
